*
{
  /*  * {
    box-sizing: border-box;
    padding: 100px;
    margin: 100px;
    }*/
 

body 
    /*display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;*/
 


.boxed {
    border: 10px dotted black ;
      }



h2{
    text-align: center;
    margin: "60px";
}

.button {
    margin: 20px;
    background-color: red;

}
.container {
    
}



.inputBox {
    position: relative;
    width: 300px;
}
.inputBox h2 {

}